*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.carousel-inner img{
    width: 100%;
}
.carousel-inner video{
    width: 100%;
    height: 80%;
    max-height: 93vh;
    object-fit: cover;
}
.carousel-caption{
    -webkit-text-stroke: 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    width: 0%;
    content: '';
    height: 2px;
    transition: all 0.5s;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }

#form{
    width: 100%;
    max-width:350px;
}
#bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.75)) , url(../Images/pre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  
}
#bg1{
   background: url(../Images/main-slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
#form1{
    width: 100%;
    max-width:600px;
}

#ft_placeholder{
    color:#999;
}
@media (min-width: 576px) {
    #d1{height:100%;}
}

@media (min-width: 768px) { 
    #d1{height:100vh;}
}

/* @media (min-width: 992px) { 
    #d1{height:100vh;}
} */
/* .Nav_bar{
    font-family: sans-serif;
    text-transform: uppercase;
} */

/* #navbarSupportedContent li::after{
    content: "";
    width:0%;
    height:3px;
    display:block;
    background-color: #fff;
    margin-bottom: 5px;
}
#navbarSupportedContent li:hover::after{
    width: 100%;
    transition: all 0.5s;   
} */
/* 
.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #000; 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #000; 
} */